body {
  font-family: Noto Sans;
  margin: 0;
}

nav {
  background-color: rgb(209, 115, 115);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 70px;
}

nav > h1 {
  color: rgb(247, 247, 247);
  padding-block: 20px;
  font-size: 32;
  text-align: center;
  margin: 0;
}